body {
  margin: 0px;
  background-color: whitesmoke;
}

/* Container */
.container {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container section {
  box-shadow: 5px 5px 5px whitesmoke;
  background-color: white;
  border-radius: 10px;
  display: flex;
  width: 85%;
}
section .section-left {
  padding: 70px;
  flex: 60%;
}
section .section-right {
  padding: 40px;
  flex: 40%;
}
/* Container */

/* Button */
.button-contact {
  margin-top: 40px;
}
.button {
  margin-right: 20px;
  background-color: black;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  padding: 5px 30px;
  text-align: center;
  font-size: 12px;
}
.button-group {
  margin-top: 40px;
}
.button-item-group {
  background-color: black;
  margin-left: 12px;
  border-radius: 25px;
  color: white;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
}
/* Button */

.card-image {
  padding-bottom: 10px;
  text-align: center;
  width:  80%;
  box-shadow: 0px 3px 12px whitesmoke;
}
.image {
  border-radius: 5px;
}

nav {
  background-color: #7e7b7b;
  display: flex;
  height: 8vh;
}


.nav-left {
  display: flex;
  flex: 50%;
  padding-left: 100px;
  align-items: center;
}
nav .nav-left li {
  display: inline;
}
nav .nav-left a {
  text-decoration: none;
  padding: 12px;
  color: black;
  font-weight: bold;
}
nav .nav-left a:hover {
  color: grey;
  font-size: 16px;
}



.nav-right {
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
}
nav .nav-right a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 10px;
}

body {
  margin: 0px;
  background-color: whitesmoke;
}

/* Container */
.container {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container section {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.box1 {
  display: flex;
  justify-content: center;
}
.box2 {
  display: flex;
  justify-content: flex-end;
}
/* Container */

/* Form */
.form {
  width: 400px;
}
.text-header {
  text-align: center;
}
.label {
  font-size: 18px;
  font-weight: bold;
}
#input-subject {
  width: 100%;
}
.input {
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.input-group {
  margin-top: 10px;
}
.button {
  background-color: black;
  color: white;
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}
/* Form */
